<div id="header" class="clearfix">
  <div class="meta">
    <% if logged_in? %>
      <%= current_user.username %>
    <% else %>  
      Not logged in
    <% end %>
  </div>
  
  <table class="project">
    <tr>
      <td class="system">
        <span class="system">gnat</span>
        <span class="slogan">pester me</span>
      </td>
      <td class="project">
        <%= current_project.name if current_project %>
      </td>  
    </tr>
  </table>
  
  <div id="tabs">
    <ul>
      <li><%= link_to 'Projects', projects_path %></li>
      <% if current_project %>
      <li><%= link_to 'Tickets', project_tickets_path(current_project) %></li>
      <% end %>
      
      <li class="all"><%= link_to 'All tickets', tickets_path %>
    </ul>  
  </div>  
</div>