<div id="header" class="clearfix">
  <div class="meta">
    <% if logged_in? %>
      <%= current_user.username %>
    <% else %>  
      <%= link_to 'Sign in', login_url %>
    <% end %>
  </div>
  
  <table class="project">
    <tr>
      <td class="system">
        <span class="system">gnat</span>
        <span class="slogan">pester me</span>
      </td>
      <td class="project">
        <%= current_project.name if current_project %>
      </td>  
    </tr>
  </table>
  
  <div id="tabs">
    <ul>
      <%= tabs %>
    </ul>  
  </div> 
  
  <div id="search"> 
    <% form_tag search_path, :method => :get do %>
    <%= text_field_tag :q, params[:q] %>
    <%= link_to_function badge('search'), '$("#search form")[0].submit();' %>
    <% end %>
  </div>  
</div>