<% heading do %>
  <%= avatar(resource.user) %>
  <div class="status">
    <span class="number">#<%= resource.id %></span>
    <%= ticket_state(resource) %>
  </div>  
  <span class="title"><%= resource.title %></span>
  <span class="reported">
    Reported by Chris | <%= resource.created_on.to_s(:long) %>
  </span>
<% end %>

<%#= link_to 'Edit', edit_resource_path(resource) %>

<div class="ticket">
  <div class="issue">
    <div class="description">
      <%= simple_format resource.description %>    
    </div>
  </div>  

  <div class="audits">
    <%= render :partial => 'audit', :collection => resource.audits.reverse %>
  </div>
  
  <div class="ticket-actions">
    <h3>Submit comment</h3>
    
    <% form_for_resource do |form| %>
      <%= textile_editor :ticket, :comments, :rows => 15 %>
      
      <p>
        Milestone: 
        <%= form.select :milestone_id, ['(none)'] + enclosing_resource.milestones.collect { |m| [ m.name, m.id ] }, { :include_blank => false } %>
        
        &nbsp;
        Assign to:
        <%= form.select :assigned_to_id, ['(none)'] + User.find(:all, 
          :conditions => ['developer = ?', true]).collect { |m| [ m.login, m.id ] } %>
      </p>
      
      <p>
        <%= form.radio_button :status, resource.current_state.to_s, :id => 'status-current' %> 
          <label for="status-current">Leave alone</label>
        
        <% if resource.closed? %>
          <%= form.radio_button :status, 'open', :id => 'status-open' %> 
            <label for="status-open">Re-open</label>
        <% elsif current_user.developer? %>
          <% if resource.new? %>
            <%= form.radio_button :status, 'open', :id => 'status-open' %> 
              <label for="status-open">Accept</label>
          <% end %>
            <!-- <label for="status-open">accept and assign to </label>
            <select><option>me (scharfie)</option></select> -->
          <%= form.radio_button :status, 'invalid', :id => 'status-invalid' %> 
            <label for="status-invalid">Close as invalid</label>
          <%= form.radio_button :status, 'resolved', :id => 'status-resolved' %> 
            <label for="status-resolved">Close as resolved</label>
        <% end %>
      </p>
      <p>
        <%= submit_tag 'Submit comment' %>
      </p>
    <% end %>
  </div>  
  
</div>

<% head textile_editor_initialize %>