<% user = resource.user %>
<% heading do %>
  <%= avatar(resource.user) %>
  <div class="status">
    <span class="number">#<%= resource.id %></span>
    <%= ticket_state(resource) %>
  </div>  
  <span class="title"><%= resource.title %></span>
  <span class="reported">
    Reported by <%= user.username %> | <%= format_time resource.created_on %>
  </span>
<% end %>

<%#= link_to 'Edit', edit_resource_path(resource) %>

<div class="ticket">
  <div class="issue">
    <div class="description">
      <%= simple_format resource.description %>    
    </div>
  </div>  

  <div class="audits">
    <%= render :partial => 'audit', :collection => resource.audits.reverse %>
  </div>
  
  <div class="ticket-actions">
    <h3>Submit comment</h3>
    
    <% form_for_resource :builder => ActionView::Helpers::FormBuilder do |form| %>
      <%= textile_editor :ticket, :comments, :rows => 15 %>

      <p>
        Milestone: 
        <%= form.select :milestone_id, ['(none)'] + enclosing_resource.milestones.collect { |m| [ m.name, m.id ] }, { :include_blank => false } %>
        
        &nbsp;
        Assign to:
        <%= form.select :assigned_to_id, ['(none)'] + User.developers.collect { |m| [ m.login, m.id ] } %>
        
        <%= link_to_function '(to me)', "assign_to_me(#{current_user.id})" %>
          
        &nbsp;
        Estimate:
        <%= form.text_field :estimate, :style => 'width: 15%' %>
      </p>
      <p>
        <%= form.label :due_on %>:
        <%= form.date_select :due_on, :include_blank => true %>
        <%= link_to_function '(today)', "due_today()" %>
      </p>  
      
      <p>
        <%= form.radio_button :status, resource.current_state.to_s, :id => 'status-current' %> 
          <label for="status-current">Leave alone</label>
        
        <% if resource.closed? %>
          <span class="s"></span>
          <%= form.radio_button :status, 'open', :id => 'status-open' %> 
            <label for="status-open">Re-open</label>
        <% elsif current_user and current_user.developer? %>
          <% if resource.new? %>
            <span class="s"></span>
            <%= form.radio_button :status, 'open', :id => 'status-open' %> 
              <label for="status-open">Accept</label>
          <% end %>
            <!-- <label for="status-open">accept and assign to </label>
            <select><option>me (scharfie)</option></select> -->
          <span class="s"></span>  
          <%= form.radio_button :status, 'invalid', :id => 'status-invalid' %> 
            <label for="status-invalid">Close as invalid</label>
          <span class="s"></span>  
          <%= form.radio_button :status, 'resolved', :id => 'status-resolved' %> 
            <label for="status-resolved">Close as resolved</label>
        <% end %>
      </p>
      <p>
        <%= submit_tag 'Submit comment' %>
      </p>
    <% end %>
  </div>  
</div>

<% head textile_editor_initialize(:framework => :jquery) %>
<script type="text/javascript" charset="utf-8">
  function assign_to_me(uid) {
    $('#ticket_assigned_to_id').attr('value', uid);
  }
  
  function due_today() {
    var d = new Date();
    var base = '#ticket_due_on_';
    $(base + '1i').attr('value', d.getFullYear());
    $(base + '2i').attr('value', d.getMonth());
    $(base + '3i').attr('value', d.getDate());
  }
</script>